<div>
  <h1>HN Feed</h1>
  <p>We 3 hacker news!</p>
</div>

<mat-list>
  <div class="row" *ngFor="let article of articles; let i = index">
    <mat-list-item>
      <span class="col-1">{{article.title}} <span class="author">- {{article.author}} -</span></span>
      <span class="col-2">{{article.created_at | dateFormat}}</span>
      <span class="col-3"><button mat-button (click)="removeArticle(article._id)"><mat-icon>delete_forever</mat-icon>
      </button></span>
    </mat-list-item>
    <mat-divider *ngIf="(i+1)!==articles.length"></mat-divider>
  </div>
</mat-list>


